/*box-sizing fix*/
html {
  box-sizing: border-box;
  height:100%;
  width:100%;
  margin:0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  height:100%;
  width:100%;
}
#screen{
  height:100%;
  width:100%;
  margin: 0 auto;
  border: 3px solid black;
  text-align: center;
}
#game{
  height:90%;
  width:45%;
  text-align: center;
  border: 3px solid black;
  display: inline-block;
  vertical-align: top;
  margin: 5%;
}

#question{
  height: 30%;
  width: 80%;
  margin: 5% auto;
  display: block;
  background: blue;
  text-align: left;
  font-size: 1em;
}

#responses{
  height: 50%;
  width: 80%;
  margin: 5% auto;
  display: block;
  background: green;
}

.options{
  height: 40%;
  width: 40%;
  margin: 4%;
  vertical-align: middle;
  font-size: 0.8em;
}
#optionA{}
#optionB{}
#optionC{}
#optionD{}
#countDown{
  height: 10%;
  width: 10%;
  position: relative;
  background: pink;
  margin: 0;
}

#console{
  display: inline-block;
  vertical-align: top;
  height:90%;
  width:30%;
  border: 2px solid black;
  text-align: center;
  margin: 5%;
}
#nextMove{
  display: block;
  height:20%;
  width:80%;
  margin: 5% auto;
  background: blue;
  font-size: 1em;
}
#scoreBoard{
  display: block;
  height:55%;
  width:80%;
  margin: 5% auto;
  background: green;
  text-align: left;
  font-size: 1em;
}
.ctrlButton{}
